.cproject
.project
.settings
.vscode
bin
configure/CONFIG_SITE.local
configure/O.*
configure/RELEASE.local
db
dbd
include
lib
chimeraTKApp/Db/O.*
chimeraTKApp/src/O.*

examples/device-access/bin
examples/device-access/configure/CONFIG_SITE.local
examples/device-access/configure/O.*
examples/device-access/configure/RELEASE.local
examples/device-access/db
examples/device-access/dbd
examples/device-access/include
examples/device-access/iocBoot/iocDarwin/envPaths
examples/device-access/iocBoot/iocLinux/envPaths
examples/device-access/lib
examples/device-access/deviceAccessExampleApp/Db/O.*
examples/device-access/deviceAccessExampleApp/src/O.*
